@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Matemasie&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  background-color: blue;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  background-color: brown;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  background-color: darkolivegreen;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

.style-one {
  font-size: 40px;
  font-style: italic;
  color: green;
  background-color: pink;
  font-family: "Matemasie", serif;
}

.style-two {
  font-size: 36px;
  font-weight: bold;
  color: rebeccapurple;
  background-color: goldenrod;
  font-family: "Baskervville SC", serif;
}

.style-three {
  font-size: 75px;
  font-weight: normal;
  text-transform: capitalize;
  background-color: aquamarine;
  font-family: "Sixtyfour Convergence", serif;
}

.style-four {
  font-size: 60px;
  font-weight: normal;
  color: pink;
  background-color: hotpink;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}

.style-five {
  font-size: 80px;
  font-weight: 400;
  color: maroon;
  background-color: olive;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.style-six {
  font-size: 60px;
  font-weight: 700;
  color: burlywood;
  background-color: darkcyan;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Raleway Dots", sans-serif;
}

.style-seven {
  font-size: 15px;
  font-weight: bold;
  color: rgb(85, 150, 140);
  background-color: purple;
  text-decoration: none;
  text-transform: lowercase;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.style-eight {
  font-size: 45px;
  font-style: italic;
  font-weight: 100;
  color: rgb(250, 10, 220);
  background-color: peachpuff;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: monospace;
}

.style-nine {
  font-size: 90px;
  font-weight: 700;
  color: rgb(150, 150, 50);
  background-color: forestgreen;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: Verdana, Tahoma, sans-serif;
}

.style-ten {
  font-size: 75px;
  font-weight: 100;
  color: hsl(110, 75%, 45%);
  background-color: navy;
  font-family: monospace;
}

.style-eleven {
  font-size: 25px;
  font-weight: bolder;
  color: hsl(20, 40%, 40%);
  background-color: steelblue;
  text-decoration: none;
  text-transform: none;
  font-family: monospace;
}
